html{
  height: 95%;
}
body{
  border: 3px solid black;
  border-radius: 5px;
  font-size: 16px;
  padding: 0;
  align-items: center;
  width: auto;
  height: 98%;
  background-color: #f2e9e4;
}
header{
  padding: 18px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
nav {
  padding: 20px 0 0 0;
  text-align: right;
}

a img {
  width: 5%;
}

li{ 
  list-style: none;
}

a{
  text-decoration: none;
}

p{
  padding-right: 18px;
  position: absolute;
  bottom: 5%;
  right: 1%;
}
