html {
	height: 95%;
}
body {
	background-color: #f2e9e4;
	border: 3px solid black;
	border-radius: 5px;
	font-size: 16px;
	padding: 0;
	align-items: center;
	width: auto;
	height: 98%;
	min-width: 320px;
}

/* Header */
header {
	padding: 18px;
}
.header_img {
	border: 1px solid #f2e9e4;
	border-radius: 5px;
}

/* Navigation bar */
.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

.navigation a.active {
	background-color: blueviolet;
}

.myworks {
	display: none;
}

.navigation li:hover .myworks {
	display: contents;
}

/* footer */
footer p {
	padding-right: 18px;
	position: absolute;
	bottom: 5%;
	right: 1%;
}
.media-icons {
	position: absolute;
	bottom: 6%;
	padding-left: 18px;
	text-align: left;
}
.a_img {
	width: 5%;
}

/* Overall Edits for the website. */
img {
	width: 100%;
}
li {
	list-style: none;
}

a {
	text-decoration: none;
}

/* Home Page */
.about_me {
	position: absolute;
	bottom: 15%;
	left: 50%;
	padding-right: 18px;
}
